table {
    border: 2px solid white;
    width: 800px;
    height: 200px;
    color: white;
}
    
th{
    border: 2px solid white;
    width:15vw;
}
  
td{
    border: 2px solid white;
    width:15vw;
    text-align: center;
}

tr:hover {background-color: violet;}
